html{
    margin: 0;
}

body{
    margin:0;
    background-color: black;
}

#plateauJeu{
    width: 100%;
}

#game-container{
    width: 600px;
    height: 600px;
    padding: 0;
    margin: auto;
    border: red solid 1px;
}

#message{
    margin: auto;
    height: 50px;
    width: 600px;
    text-align: center;
    background-color: grey;
}

#potions{
    background-color: lightblue;
}

#exp{
    background-color: lightblue;
}

#village{
    background-color: lightblue;
}

#bg{
    background-color: lightblue;
}

#coord{
    background-color: lightblue;
}

#ingredient{
    background-color: lightblue;
}

#money{
    background-color: lightblue;
}

#position{
    background-color: lightblue;
}

#bonus{
    background-color: lightblue;
}